.preset_title_panel {
    padding: 0px; /* main.css defines a padding of 1em but we want to turn this off so the title/footer bar looks nice */
    color: var(--defaultText);
    position: relative;
}

.preset_title_panel_wrapper {
    padding: 0px 20px 0px 20px; /* turn the padding back on */
    overflow-y: auto;
    overflow-x: hidden;
}

.preset_title_panel_title {
    display: inline-block;
    margin-bottom: 1ex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 60px);
}

.preset_title_panel_star {
    background-image: url(../../../images/icons/star_orange.svg);
    width: 25px;
    height: 25px;
    background-size: cover;
    border-radius: 5px;
    padding: 5px;
    background-origin: content-box;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 0px;
}

.preset_title_panel_betaflight_official {
    background-image: url(../../../images/icons/cf_icon_welcome_orange.svg);
    width: 25px;
    height: 25px;
    background-size: cover;
    border-radius: 5px;
    padding: 5px;
    background-origin: content-box;
    background-repeat: no-repeat;
    position: absolute;
    right: 20px;
    top: 0px;
}

.preset_title_panel_category {
    font-weight: bold;
}

.preset_title_panel_official {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
    font-weight: 700;
    border-radius: 4px;
}

.preset_title_panel_status_official {
    background-color: green;
}

.preset_title_panel_status_community {
    background-color: yellow;
}

.preset_title_panel_status_experimental {
    background-color: red;
}

.preset_title_panel_versions_text {
    font-weight: bold;
}

.preset_title_panel_keywords_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preset_title_panel_repository_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.presets_title_panel_table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.presets_title_panel_table td{
    overflow: hidden;
    height: 24px;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.presets_title_panel_table td:nth-child(1){
    width: 100px;
}