
.preset_detailed_dialog_title_panel {
  padding-bottom: .5ex;
  margin-bottom: 2ex;
}

#presets_detailed_dialog {
  padding: 0px; /* main.css defines a padding of 1em but we want to turn this off so the title/footer bar looks nice */
} 

#presets_detailed_dialog_properties {
  padding: 0px 0px 0px 20px;
}

.presets_detailed_dialog_scrollable {
  bottom: 51px;
  width: 100%;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}

#presets_detailed_dialog .content_toolbar {
  position: absolute;
  bottom: 0; /* lock footer to the bottom of the dialog */
}

#presets_detailed_dialog_content_wrapper .preset_title_panel_title {
  padding-bottom: 0.5ex;
  border-bottom: 1px solid #FFBB00;
  margin-bottom: 2ex;
}

#presets_detailed_dialog_content_wrapper .ms-choice > span.placeholder {
  color: var(--defaultText);
}

#presets_detailed_dialog_content_wrapper .left-panel {
  position: absolute;
  left: 0px;
  padding-left: 20px;
}

.presets-detailed-dialog-property-table {
  margin-top: 10px;
  margin-bottom: 10px;
}

.presets-detailed-dialog-property-table td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.presets-detailed-dialog-property-table-first-col {
  width: 150px;
}

.presets_detailed_dialog_text {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 12px;
  overflow-y: scroll;
  height: 560px;
  font-size: 110%;
  white-space: pre-line;
  user-select: text;
}

#presets_detailed_dialog_html_description {
  white-space: normal;
}

#presets_detailed_dialog_html_description h1 {
  padding-top: 10px;
  padding-bottom: 3px;
}

#presets_detailed_dialog_html_description h3 {
  padding-top: 5px;
  padding-bottom: 0px;
}

#presets_detailed_dialog_html_description h4 {
  padding-top: 0px;
  padding-bottom: 0px;
}

#presets_detailed_dialog_html_description ul {
  padding-left: 25px;
}

#presets_detailed_dialog_html_description ul li {
  padding-left: 12px;
  list-style-type: disclosure-closed;
}

#presets_detailed_dialog_html_description ol li {
  padding-left: 12px;
  list-style-type: decimal;
}

#presets_options_panel {
  height: 20px;
}

#presets_options_panel .ms-choice {
  border-color: #FFBB00;
  border-width: 2px;
}
#presets_options_panel > span {
  line-height: 20px;
}
#presets_detailed_dialog_loading {
  height: 600px;
}
#presets_options_select {
  width: 296px;
}
#preset_options_label {
  width: 100px;
  display: inline-block;
}
#presets_detailed_dialog .content_toolbar {
  margin-left: auto;
  margin-right: -12px;
}
#presets_detailed_dialog .content_toolbar .btn {
  display: contents;
}
#presets_detailed_dialog .ms-drop ul > li.hide-radio:focus {
  background: none !important;
}
.ms-drop ul > li.hide-radio:hover {
  background: none !important;
}

@media all and (max-width: 575px) {
  .presets_detailed_dialog_text {
    height: unset;
    padding-bottom: 100px;
  }

  #presets_detailed_dialog_content_wrapper .content_toolbar {
    position: fixed;
  }

  #presets_detailed_dialog .content_toolbar {
    position: fixed;
    padding-bottom: 8px;
  }
  #presets_detailed_dialog .btn {
    margin-left: 0px;
    width: 100%;
  }
  #presets_detailed_dialog .btn .left-panel {
    margin-left: 12px;
    margin-bottom: 12px;
    padding-left: 0px;
  }
  #presets_detailed_dialog .btn .left-panel .regular-button {
    float: none;
    display: inline-block;
  }
  #presets_detailed_dialog .mainButton {
    margin-top: 40px;
  }
  #presets_options_panel {
    height: 26px;
    margin-top: 6px;
    grid-template-columns: 100px 1fr;
    display: grid;
  }
  #presets_options_select {
    width: 100%;
  }

  .presets_detailed_dialog_scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 51px;
    height: unset;
}
}
